
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}
#abc{
    text-align: center;
    padding: 50px;;
    color: #1877f2;
    
}
.container {
    max-width: 400px;
    margin: 100px auto;
    margin-top:-50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h4 {
    text-align: center;
    color: #050607;
}
input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #1877f2;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0e63ab;
}
.fb-login-btn {
    width: 100%;
    background-color: #1877f2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.fb-login-btn:hover {
    background-color: #0e63ab;
}
