body {
    font-family: Arial, sans-serif;
    /* background-color: #f8f8f8; */
    background-image:url(https://blog.vpncity.com/wp-content/uploads/2020/01/xx.png);
    background-size:cover ;
    background-position: center;
    padding: 0;
}

.login-container {
    background-color:rgb(0, 0, 0,0.7);
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(252, 246, 246, 0.1);
}
h1{
    margin-right: 100px;
    color: #e50914;
}

h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}
input[type="email"],
input[type="password"]{
    color: white;
}


input[type="email"],
input[type="password"],
button {
  
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(0, 0, 0,0.7);
}

button {
    background-color: #e50914;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #cc0812;
}

p {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

a {
    color: #e50914;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
